<div class="container-fluid backGround ">
    <div class="userCard vh-100  ">
        <div class=" d-flex align-items-center my-auto justify-content-center  ">
                <div class="card">
                    <img src="assets/imgs/img_avatar.png">
                <div class="card-contant"></div>
                <div class="content row ">
                    <div class="mb-3 d-inline-block ">
                        <label for="staticEmail" class=" col-form-label">Name :</label>
                        <div class=" d-inline-block ">
                            <input type="text" readonly class="form-control-plaintext ps-3" id="staticEmail" value="{{name}}">
                        </div>
                    </div>
                    <div class="mb-3 d-inline-block ">
                        <label for="staticPhone" class="col-form-label  ">Phone :</label>
                        <div class=" d-inline-block ">
                            <input type="text" readonly class="form-control-plaintext ps-3" id="staticPhone" value="{{phone}}">
                        </div>
                    </div>
                    <div class="mb-3  ">
                        <label for="staticCode" class=" col-form-label  ">card Number :</label>
                        <div class=" d-inline-block">
                            <input type="text" readonly class="form-control-plaintext ps-lg-3 ps-sm-0 " id="staticCode" value="{{cardNumber}}">
                        </div>
                    </div>
                
                    
               </div>
               <div class="card-contant2"></div>
    
             </div>
             
        </div>
    
    </div>
</div>
